@*<div class="mycard">
        @*<img src="~/Images/road-man-lights-legs.jpg" class="img-responsive" />
    </div>*@


<img src="~/images/road-man-lights-legs.jpg" class="img-responsive" alt="mans legs in front of the car with headlights" />


<div data-video="uu2igkV574I"
     data-autoplay="1"
     data-loop="1"
     id="youtube-audio"
     class="youtube-audio">
</div>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>