@page
@model CompleteModel


<h2>Congrats @Html.Raw(Model.bridgeGreetings.sendersname)!</h2>

<p>Your egreeting was successfully sent to @Html.Raw(Model.bridgeGreetings.recipientname)!</p>

<p> Do you want to send another?</p>