@page
@model IndexModel

@{


    ViewBag.theme = "halloween";
    ViewBag.dimension = "portrait";

    ViewBag.meta_title = "Halloween E-Greeting - let your friends know they are never alone this Halloween";
    ViewBag.meta_description = "Create your greeting now";
    ViewBag.meat_image = ""; 
}


<div class="row">
    <div class="col-xs-12  col-sm-12 hidden-md hidden-lg">
        @Html.Partial("_Card")
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">


        @Html.Partial("_Form", Model.bridgeGreetings)


    </div>
</div>


@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    <script src='https://www.google.com/recaptcha/api.js'></script>}


@*RECAPTCHA API use the site key here
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script>
        $("form").submit(function (ev­e­nt) {
            alert("I am about to submit the form");
            var recaptcha = $("#g-recaptcha-response").val­­();
            if (recaptcha === "6Le5_S0UAAAAANukdP7UkKR2isiirPXw7DPcZwCb") {
                event.preventDefault();
                alert("Please check the recaptcha");
            }
        });
    </script>}*@

<script>
    $("form").submit(function (ev­­­e­nt) {

        var recaptcha = $("#g-recaptcha-response");

        if (recaptcha.val() === "") {
            event.preventDefault();
            alert("Please check the recaptcha")
        }
</script>