@page
@model PreviewModel



        @Html.Partial("_Preview", Model.bridgeGreetings)

        @*EDIT & SEND BUTTONS START *@
        <form method="post">
            <input type="hidden" asp-for="@Model.bridgeGreetings.ID" />

            <div class="btn-group">
                <a href="/update?id=@Model.bridgeGreetings.ID" class="btn btn-primary">Edit</a>
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
        @*EDIT & SEND BUTTONS END *@
   
