@page "{ID?}"
@model ReadModel

@{
    ViewBag.cssPage = "read";
}

<h1>Here is your greeting from @Model.bridgeGreetings.sendersemail</h1>
      <h3>@Model.bridgeGreetings.mesgfromuser</h3>

<a href="/" class="btn btn-primary">Send your own greeting!</a>
