body {
    font-family: 'Open Sans Condensed';
    font-size: 14px;
    background: #000;
    color: #fff;
}

a {
    color: #0094ff; /*blue*/
}

    a:hover,
    a:focus {
        color: #D3D3D3; /*lightgrey*/
    }



h1 {
    font-family: Nosifer, cursive;
}

@media screen and (min-width: 992px) {
    body {
        background: #000 url(/images/road-man-lights-legs.jpg) no-repeat center center;
        background-size: cover;
    }
}




/*.playbutton {
    float: right;
}*/
/*************  CARD END  *************/
/*************  FORM START  ************/
.myform {
    background: rgba(255, 255, 255, 0.1);
    padding: 4em 1em;
    float: right;
    text-shadow: 2px 2px #000000;

    /*background-color: #FFFFFF; /*white*/
    /*opacity: 0.8;
    color: black;

    padding: 1em;*/

}


input:focus {
    /*background-color: lightgrey;*/
    flex-grow: 4;
    background-color: #000000;
    border-width: 3px;
    border-color: #00fa9a;
    color: white;
    font-size: 18px;
}


#terms {
    background: rgba(0, 0, 0, 0.25);
    color: #000000;
}

/*************  FORM END  *************/





/*************  PREVIEW START  ************/



/*************  PREVIEW END ************/